@import 'tailwindcss';

@theme {
    --font-sans: 'Inter', 'Montserrat', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-heading: 'Inter', 'Nexa', 'Montserrat', sans-serif;

    /* Custom Colors from Dashboard */
    --color-error: #ba1a1a;
    --color-outline: #747878;
    --color-on-tertiary-fixed: #410005;
    --color-secondary-fixed: #ffdf9b;
    --color-surface-container-highest: #e2e2e2;
    --color-on-background: #1a1c1c;
    --color-surface-bright: #f9f9f9;
    --color-primary-container: #1c1b1b;
    --color-surface-tint: #5f5e5e;
    --color-on-tertiary-fixed-variant: #891b20;
    --color-surface-container: #eeeeee;
    --color-on-surface: #1a1c1c;
    --color-primary-fixed: #e5e2e1;
    --color-outline-variant: #c4c7c7;
    --color-on-tertiary-container: #dc5856;
    --color-on-surface-variant: #444748;
    --color-background: #f9f9f9;
    --color-surface-container-low: #f3f3f4;
    --color-on-tertiary: #ffffff;
    --color-tertiary: #000000;
    --color-on-primary: #ffffff;
    --color-inverse-on-surface: #f0f1f1;
    --color-inverse-primary: #c8c6c5;
    --color-surface-dim: #dadada;
    --color-surface-container-lowest: #ffffff;
    --color-surface-variant: #e2e2e2;
    --color-on-secondary-fixed: #251a00;
    --color-secondary: #745b1b;
    --color-error-container: #ffdad6;
    --color-surface-container-high: #e8e8e8;
    --color-on-error: #ffffff;
    --color-secondary-container: #ffdc8e;
    --color-on-secondary-fixed-variant: #5a4302;
    --color-tertiary-container: #410005;
    --color-secondary-fixed-dim: #e4c278;
    --color-on-secondary-container: #795f1f;
    --color-tertiary-fixed-dim: #ffb3af;
    --color-surface: #f9f9f9;
    --color-inverse-surface: #2f3131;
    --color-tertiary-fixed: #ffdad7;
    --color-primary: #000000;
    --color-on-primary-fixed: #1c1b1b;
    --color-primary-fixed-dim: #c8c6c5;
    --color-on-primary-container: #858383;
    --color-on-secondary: #ffffff;
    --color-on-primary-fixed-variant: #474746;
    --color-on-error-container: #93000a;

    /* Spacing */
    --spacing-xs: 4px;
    --spacing-xl: 32px;
    --spacing-sm: 8px;
    --spacing-gutter: 24px;
    --spacing-container-margin: 64px;
    --spacing-md: 16px;
    --spacing-lg: 24px;

    /* Max Widths */
    --max-width-xs: 20rem;
    --max-width-sm: 24rem;
    --max-width-md: 28rem;
    --max-width-lg: 32rem;
    --max-width-xl: 36rem;
    --max-width-2xl: 42rem;
    --max-width-3xl: 48rem;
    --max-width-4xl: 56rem;
    --max-width-5xl: 64rem;
    --max-width-6xl: 72rem;
    --max-width-7xl: 80rem;


    /* Custom Font Families */
    --font-body-sm: 'Inter';
    --font-display-lg-mobile: 'Inter';
    --font-headline-md-mobile: 'Inter';
    --font-body-lg: 'Inter';
    --font-headline-md: 'Inter';
    --font-label-uppercase: 'Inter';
    --font-display-lg: 'Inter';
    --font-code-sm: 'Inter';
    --font-title-sm: 'Inter';
}

@utility no-scrollbar {
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}
